- content_for :title do
  Search terms

%table.table
  %thead
    %tr
      %th Term
      %th{:colspan => 2}
  %tbody
    - for term in @searchterms
      %tr
        %td= term.text
        %td= link_to "View tweets", searchterm_tweets_path(term)
        %td= link_to "Delete term", delete_searchterm_path(term)

%p= link_to "Create new", new_searchterm_path, :class => "btn"
